<!-- Quote Call to Action -->
{{ with .Site.Data.about }}

<style>
{{ if .textSize }}
	aside.cta-quote div.quote, aside.cta-quote div.quote p {
		font-size: {{ .textSize }}px !important;
		line-height: {{ mul .textSize 1.375 }}px !important;
  }
{{ end }}

{{ if .textPadding }}
	aside.cta-quote .panel {
		padding: {{ mul .textPadding 0.266 }}px {{ mul .textPadding 0.666 }}px !important;
  }
{{ end }}

{{ if .textColor }}
	aside.cta-quote div.quote {
		color: {{ .textColor }} !important;
  }
{{ end }}

{{ if .textColorPrimary }}
	aside.cta-quote div.quote .text-primary {
		color: {{ .textColorPrimary }} !important;
  }
{{ end }}

{{ if .buttonSize }}
	aside.cta-quote a.btn {
		font-size: {{ .buttonSize }}px !important;
  }
{{ end }}

{{ if .buttonColor }}
	aside.cta-quote a.btn {
		color: {{ .buttonColor }} !important;
		border-color: {{ .buttonColor }} !important;
  }
{{ end }}

{{ if .lineColor }}
	aside.cta-quote hr {
		border-color: {{ .lineColor }} !important;
  }
{{ end }}

{{ if .backgroundColor }}
	aside.cta-quote .transparent-border {
		background-color: rgba( {{ .backgroundColor }});
	}
{{ end }}

{{ if .borderColor }}
	aside.cta-quote .transparent-border {
		border-color: rgba( {{ .borderColor }});
	}
{{ end }}

@media(min-width:768px) {
	{{ if .textPadding }}
		aside.cta-quote .panel {
			padding: {{ mul .textPadding 0.3 }}px {{ mul .textPadding 0.75 }}px !important;
	  }
	{{ end }}
}

@media(min-width:992px) {
	{{ if .textPadding }}
		aside.cta-quote .panel {
			padding: {{ mul .textPadding 0.4 }}px {{ .textPadding }}px !important;
	  }
	{{ end }}
}

</style>
<aside id="about" class="cta-quote" style="background-image: url('{{ .backgroundImage }}');">
    <div class="container">
        <div class="row">
            <div class="panel transparent-border col-md-8 col-md-offset-2 wow fadeIn">
                <div class="row">
					<div class="col-xs-12 col-md-2" style="height: {{ .imageSize }}px">
						<!-- Left side to fill -->
   			        </div>
	                <div class="col-xs-12 col-md-8 quote">{{ .text | markdownify }}</div>
	              	<div class="col-xs-12 col-md-2" style="height: {{ .imageSize }}px">
						<!-- Right side to fill -->
	    			</div>
            </div>
        </div>
    </div>
</aside>
{{ end }}
