<!-- Quote Call to Action -->
{{ with .Site.Data.glossar }}

<style>

{{ if .letterSize }}
	.glossar .panel .letter {
		font-size: {{ .letterSize }}px !important;
		line-height: {{ mul .letterSize 1.375 }}px !important;
  }
{{ end }}

{{ if .headerSize }}
	.glossar .panel h3 {
		font-size: {{ .headerSize }}px !important;
		line-height: {{ mul .headerSize 1.375 }}px !important;
  }
{{ end }}

{{ if .textSize }}
	.glossar .panel p {
		font-size: {{ .textSize }}px !important;
		line-height: {{ mul .textSize 1.375 }}px !important;
  }
{{ end }}

{{ if .letterColor }}
	.glossar .panel .letter a {
		color: {{ .letterColor }} !important;
  }
{{ end }}

{{ if .letterColorActive }}
	.glossar .panel .letter.active a {
		color: {{ .letterColorActive }} !important;
  }
{{ end }}


{{ if .headerColor }}
	.glossar .panel h3 {
		color: {{ .headerColor }} !important;
  }
{{ end }}

{{ if .textColor }}
	.glossar .panel p {
		color: {{ .textColor }} !important;
  }
{{ end }}

{{ if .opacity }}
	.glossar .panel {
		background-color: rgba( 255,255,255, {{ .opacity }}) !important;
  }
{{ end }}



@media(min-width:768px) {
}

@media(min-width:992px) {
}

</style>
<section id="glossar" class="glossar" style="background-image: url('{{ .backgroundImage }}');">
    <div class="container">
        <div class="row">
            <div class="panel transparent-border col-md-10 col-md-offset-1 wow fadeIn">
							<ul class="nav nav-tabs">
            	{{ range $i, $e := .list }}
							  <li class="{{ if eq $i 0 }}active {{ end }}letter">
							  	<a data-toggle="tab" href="#glossar-tab-{{ $i }}">{{ .letter }}</a>
							  </li>
							{{ end }}
							</ul>
							<div class="tab-content">
            	{{ range $i, $e := .list }}
							  <div id="glossar-tab-{{ $i }}" class="tab-pane fade {{ if eq $i 0 }}in active{{ end }}">
            			{{ range $j, $e1 := .words }}
							    <h3>{{ .word }}</h3>
							    <p>{{ .explanation | markdownify }}</p>
									{{ end }}
							  </div>
							{{ end }}
							</div>
            </div>
        </div>
    </div>
</section>
{{ end }}
